<!DOCTYPE html>
<html>

<head>
  <title>about us</title>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width,initial-scale=0.1">
</head>

<body>

  <body
    style="background-image: url(../static/images/f5.jpg),url(../static/images/f6.jpg) ,url(../static/images/f9.jpg);background-attachment: fixed;background-repeat: no-repeat; background-size: 350px;background-position: bottom left,bottom right,bottom center;">

    <div class="pub">
      <h1>ABOUT US</h1>
    </div>

    <div class="gib">
      <h2>‘FOODPUB’ <br>Since our modest beginnings in 2005 with a little space in thiruvarur, ‘FOODPUB’ ‘s development
        has been enlivened with the energy to cook and serve solid, Indian-roused takeout food. <br> In contrast to
        other Indian eateries, ‘FOODPUB’ was made with the explicit expectation to appear as something else. <br> We
        realize numerous individuals love Indian sustenance, yet a large number of them loathe or are unconscious of the
        regularly unfortunate fixings that make run of the mill Indian nourishment taste so great. <br> Our menu
        highlights things that utilization the sound and fragrant flavors, however forgets the stuffing ghee, spread,
        oil, and overwhelming cream.</h2>
    </div>
    <a href="home.html"> readmore</a>

    </div>
  </body>

</html>