<!DOCTYPE html>

</html>

<head>
  <title>contact page</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <meta name="viewport" content="width=device-width,initial-scale=0.1">

</head>

<body>

  <body
    style=" background-image: url(../static/images/sw7.jpg);background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">

    <div class="nts">
      <h1>Mob nom:1234567890</h1>
      <h2>Mail:foodpub@gmail.com</h2>
      <h3>Location:Thiruvarur</h3>
      <a style="color: white;" href="about.html">about</a>

    </div>
  </body>
  <html>