<!DOCTYPE html>
<html>

<head>
    <title>WELCOME!</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=0.1">
</head>

<body>

    <!-- inline stylesheet -->
    <div class="idc">

        <body
            style="background-image: url(../static/images/img1.jpg);background-attachment: fixed;background-repeat: no-repeat;background-size: 200px;background-position:top right;">


            <h1>WELCOME!</h1>
            <p>Name: Thilothi R <br>Email Id:thilothiravi@gmail.com <br>whats app number:9876543210 <br>Linkedin
                Id:linkedin.com/in/Thilothi Ravichandran <br>Location:Thiruvarur-614716</p>
            <h1>EDUCATIONAL QUALIFICATION</h1>
            <p> Bachelor of Engineering in Electronics and Communication Engineering <br>St.Joseph college of
                engineering,Sriperumbudur </p>
            <h1>PROJECTS</h1>
            <p>1.Jamming detection in wireless sensor network using statistical approch <br>2.Rain detector</p>
            <h1>CERTIFICATES</h1>
            <p>1.Workshop on mobile phone manufaturing <br>2.Internship in WORKSBOT Applications</p>
            <h1>TECHNICAL SKILLS</h1>
            <p>1.HTML <br>2.CSS<br>3.Python<br>4.DJango <br>5.Bootstrap</p>
            <h1>PERSONAL INTERESTS</h1>
            <p>1.Travelling <br>2.Cooking <br>3.Sports <br>4.Reading books</p>

        </body>

</html>